/* @import '@picocss/pico/css/pico.min.css'; */
@import './custom.css';

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa'),
    url('https://fonts.cdnfonts.com/s/90/Comfortaa_Regular.woff') format('woff');
}
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 250;
  src: local('Comfortaa'), url('https://fonts.cdnfonts.com/s/90/Comfortaa_Thin.woff') format('woff');
}
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: local('Comfortaa'), url('https://fonts.cdnfonts.com/s/90/Comfortaa_Bold.woff') format('woff');
}

html,
body {
  font-family: 'Comfortaa', sans-serif;
}

[data-theme='light'] [astro-icon='logo'],
:root:not([data-theme='dark']) [astro-icon='logo'] {
  filter: invert();
}
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) [astro-icon='logo'] {
    filter: unset;
  }
}

/**
 * Custom theme
 */
/* :root {
  --border-radius: 0;
  --form-element-spacing-vertical: 1rem;
  --form-element-spacing-horizontal: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --font-family: 'Raleway', sans-serif;
  --font-weight: 800;
}

h1 {
  --font-size: 2.5rem;
  --typography-spacing-vertical: 2.5rem;
}

h2 {
  --font-size: 2rem;
  --typography-spacing-vertical: 2rem;
}

h3 {
  --font-size: 1.75rem;
  --typography-spacing-vertical: 1.75rem;
}

h4 {
  --font-size: 1.5rem;
  --typography-spacing-vertical: 1.5rem;
}

h5 {
  --font-size: 1.25rem;
  --typography-spacing-vertical: 1.25rem;
}

button,
input[type='submit'],
input[type='reset'],
input[type='button'],
a[role='button'] {
  --font-weight: 600;
}

/* [data-theme='light'] {
  color-scheme: light;
  --background-color: #fff;
  --color: hsl(205deg, 30%, 32%);
  --h1-color: #042c49;
  --h2-color: #0f4267;
  --h3-color: #215a83;
  --h4-color: #3a7098;
  --h5-color: #5986a6;
  --h6-color: #7f9aad;
  --muted-color: hsl(205deg, 20%, 50%);
  --muted-border-color: hsl(205deg, 30%, 94%);
  --primary: hsl(180deg, 85%, 36%);
  --primary-hover: hsl(180deg, 90%, 27%);
  --primary-focus: rgba(14, 170, 170, 0.125);
  --primary-inverse: #fff;
  --secondary: hsl(205deg, 25%, 41%);
  --secondary-hover: hsl(205deg, 30%, 32%);
  --secondary-focus: rgba(78, 109, 131, 0.125);
  --secondary-inverse: #fff;
  --contrast: hsl(205deg, 40%, 15%);
  --contrast-hover: #000;
  --contrast-focus: rgba(78, 109, 131, 0.125);
  --contrast-inverse: #fff;
  --mark-background-color: #fff2ca;
  --mark-color: #513b29;
  --ins-color: #388e3c;
  --del-color: #c62828;
  --blockquote-border-color: var(--muted-border-color);
  --blockquote-footer-color: var(--muted-color);
  --button-box-shadow: 0 0.0625rem 0.1875rem rgba(23, 41, 54, 0.1),
    0 0.0625rem 0.125rem rgba(23, 41, 54, 0.1);
  --button-hover-box-shadow: 0 0.1875rem 0.375rem rgba(23, 41, 54, 0.05),
    0 0.1875rem 0.375rem rgba(23, 41, 54, 0.1);
  --form-element-background-color: #d8e2e9;
  --form-element-border-color: #d8e2e9;
  --form-element-color: var(--color);
  --form-element-placeholder-color: var(--muted-color);
  --form-element-active-background-color: var(--form-element-background-color);
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --form-element-disabled-background-color: hsl(205deg, 28%, 86%);
  --form-element-disabled-border-color: transparent;
  --form-element-invalid-border-color: transparent;
  --form-element-invalid-active-border-color: transparent;
  --form-element-valid-border-color: transparent;
  --form-element-valid-active-border-color: transparent;
  --switch-background-color: hsl(205deg, 26%, 77%);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --range-border-color: hsl(205deg, 28%, 86%);
  --range-active-border-color: hsl(205deg, 26%, 77%);
  --range-thumb-border-color: var(--background-color);
  --range-thumb-color: var(--secondary);
  --range-thumb-hover-color: var(--secondary-hover);
  --range-thumb-active-color: var(--primary);
  --table-border-color: var(--muted-border-color);
  --table-row-stripped-background-color: #f5f8fa;
  --code-background-color: hsl(205deg, 30%, 94%);
  --code-color: var(--muted-color);
  --code-kbd-background-color: var(--contrast);
  --code-kbd-color: var(--contrast-inverse);
  --code-tag-color: hsl(330deg, 40%, 50%);
  --code-property-color: hsl(185deg, 40%, 40%);
  --code-value-color: hsl(40deg, 20%, 50%);
  --code-comment-color: hsl(205deg, 24%, 68%);
  --accordion-border-color: var(--muted-border-color);
  --accordion-close-summary-color: var(--color);
  --accordion-open-summary-color: var(--muted-color);
  --card-background-color: var(--background-color);
  --card-border-color: var(--muted-border-color);
  --card-box-shadow: 0 0.125rem 1rem rgba(23, 41, 54, 0.04), 0 0.125rem 2rem rgba(23, 41, 54, 0.08),
    0 0 0 0.0625rem rgba(23, 41, 54, 0.024);
  --card-sectionning-background-color: #fafbfc;
  --progress-background-color: hsl(205deg, 28%, 86%);
  --progress-color: var(--primary);
  --tooltip-background-color: var(--contrast);
  --tooltip-color: var(--contrast-inverse);
} */

/* :root {
  color-scheme: dark;
  --background-color: #0e1a22;
  --color: hsl(205deg, 26%, 77%);
  --h1-color: #e3f2fc;
  --h2-color: #c3dff4;
  --h3-color: #a9c9df;
  --h4-color: #89b3d1;
  --h5-color: #759cb8;
  --h6-color: #668499;
  --muted-color: hsl(205deg, 20%, 50%);
  --muted-border-color: #1b2e3c;
  --primary: hsl(180deg, 85%, 36%);
  --primary-hover: hsl(180deg, 80%, 45%);
  --primary-focus: rgba(14, 170, 170, 0.25);
  --primary-inverse: #fff;
  --secondary: hsl(205deg, 25%, 41%);
  --secondary-hover: hsl(205deg, 20%, 50%);
  --secondary-focus: rgba(102, 132, 153, 0.25);
  --secondary-inverse: #fff;
  --contrast: hsl(205deg, 30%, 94%);
  --contrast-hover: #fff;
  --contrast-focus: rgba(102, 132, 153, 0.25);
  --contrast-inverse: #000;
  --mark-background-color: #cdc388;
  --mark-color: #0e1a22;
  --ins-color: #388e3c;
  --del-color: #c62828;
  --blockquote-border-color: var(--muted-border-color);
  --blockquote-footer-color: var(--muted-color);
  --button-box-shadow: 0 0.0625rem 0.1875rem #000, 0 0.0625rem 0.125rem #000;
  --button-hover-box-shadow: 0 0.1875rem 0.375rem #000, 0 0.1875rem 0.375rem #000;
  --form-element-background-color: #1b2e3c;
  --form-element-border-color: #1b2e3c;
  --form-element-color: var(--color);
  --form-element-placeholder-color: var(--muted-color);
  --form-element-active-background-color: var(--form-element-background-color);
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --form-element-disabled-background-color: hsl(205deg, 35%, 23%);
  --form-element-disabled-border-color: transparent;
  --form-element-invalid-border-color: transparent;
  --form-element-invalid-active-border-color: transparent;
  --form-element-valid-border-color: transparent;
  --form-element-valid-active-border-color: transparent;
  --switch-background-color: #304a5d;
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --range-border-color: #1f3443;
  --range-active-border-color: hsl(205deg, 35%, 23%);
  --range-thumb-border-color: var(--background-color);
  --range-thumb-color: var(--secondary);
  --range-thumb-hover-color: var(--secondary-hover);
  --range-thumb-active-color: var(--primary);
  --table-border-color: var(--muted-border-color);
  --table-row-stripped-background-color: rgba(102, 132, 153, 0.05);
  --code-background-color: #14242f;
  --code-color: var(--muted-color);
  --code-kbd-background-color: var(--contrast);
  --code-kbd-color: var(--contrast-inverse);
  --code-tag-color: hsl(330deg, 30%, 50%);
  --code-property-color: hsl(185deg, 30%, 50%);
  --code-value-color: hsl(40deg, 10%, 50%);
  --code-comment-color: #446277;
  --accordion-border-color: var(--muted-border-color);
  --accordion-active-summary-color: var(--primary);
  --accordion-close-summary-color: var(--color);
  --accordion-open-summary-color: var(--muted-color);
  --card-background-color: #111f29;
  --card-border-color: #0e1a22;
  --card-box-shadow: 0 0.125rem 1rem rgba(0, 0, 0, 0.06), 0 0.125rem 2rem rgba(0, 0, 0, 0.12),
    0 0 0 0.0625rem rgba(0, 0, 0, 0.036);
  --card-sectionning-background-color: #14242f;
  --progress-background-color: #1f3443;
  --progress-color: var(--primary);
  --tooltip-background-color: var(--contrast);
  --tooltip-color: var(--contrast-inverse);
} */
