@import url('https://fonts.cdnfonts.com/css/comfortaa');

html,
body {
  font-family: 'Comfortaa', sans-serif;

  --color-primary: theme('colors.amber.400');
  --color-secondary: theme('colors.sky.200');
  --color-text: theme('colors.gray.50');
  --color-text-offset: theme('colors.gray.400');
  --color-background: theme('colors.gray.900');
  --color-background-offset: theme('colors.gray.800');
  --color-border: rgb(249 250 251/0.1);
}

.gradient-text {
  @apply bg-clip-text text-transparent;
  @apply bg-gradient-to-br from-yellow-400 via-amber-500 to-orange-600;
}

:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 0.5em;
  border-radius: 0.25em;
}
