---
import ContentSection from "../components/content-section.astro";
import Layout from '../layouts/BaseLayout.astro';

const title = 'Page not found';
---

<Layout {title}>
  <ContentSection title="Page not found" id="contact">
    <Fragment slot="lead">
      <span class="text-primary">It looks like you're lost.</span><br />
      The page you're looking for doesn't exist.
    </Fragment>
    <div class="grid grid-cols-1">
      <a class="flex items-center justify-center gap-3 p-4 rounded-md border-2 border-current hover:text-amber-400"
        href="/" aria-label="Return to home page">
        Go back home
      </a>
    </div>
  </ContentSection>
</Layout>
