---
import Layout from '../layouts/BaseLayout.astro';

const title = "Page not found!";
---

<Layout {title}>
  <header>
    <div class="container">
      <h1>{title}</h1>
      <p>
        It looks like you're lost.
        The page you're looking for doesn't exist.
      </p>
      <p>
        <a role="button" href="/" aria-label="Return to home page">
          Go back home
        </a>
      </p>
    </div>
  </header>
</Layout>