---
export interface Props {
  post: {
    date: string;
    description: string;
    link: string;
    title: string;
  };
}

const { title, description, date, link } = Astro.props.post;
---

<a
  class="flex flex-col rounded-xl max-w-xs ring-1 ring-yellow-400 hover:ring-2 transition-all animate-zoom-in no-underline"
  href={link}
>
  <div class="p-6 flex flex-col flex-1">
    <h2 class="my-0">{title || 'title'}</h2>
    <p class="my-6 flex-1">{description || 'lorem ipsum bla bla...'}</p>
    <span class="self-end text-sm opacity-60">{date || '01/01/2000'}</span>
  </div>
</a>
