---
import { Icon } from 'astro-icon';
---

<footer class='container'>
  <a href='mailto:hi@eloy.co' rel='noopener' target='_blank' aria-label='email addres link'>
    <Icon name='ri:mail-line' />
  </a>

  <a href='https://linkedin.com/in/eloy-castelo/' rel='noopener' target='_blank'
    aria-label='LinkedIn account link'>
    <Icon name='ri:linkedin-line' />
  </a>

  <a href='https://github.com/eloydotco' rel='noopener' target='_blank'
    aria-label='Github acount link'>
    <Icon name='ri:github-line' />
  </a>

  <a href='https://twitter.com/eloydotco' rel='noopener' target='_blank'
    aria-label='Twitter account link'>
    <Icon name='ri:twitter-line' />
  </a>
</footer>