---
import { Icon } from 'astro-icon';
---

<footer class='flex items-center justify-center py-6 px-4 sm:py-8 sm:text-xl'>
  <a
    class=' p-4 items-center transition-all hover:text-amber-400'
    href='mailto:hi@eloy.co'
    rel='noopener'
    target='_blank'
    aria-label='email addres link'
  >
    <Icon name='ri:mail-line' class='h-8' />
  </a>

  <a
    class=' p-4 items-center transition-all hover:text-amber-400'
    href='https://linkedin.com/in/eloy-castelo/'
    rel='noopener'
    target='_blank'
    aria-label='LinkedIn account link'
  >
    <Icon name='ri:linkedin-line' class='h-8' />
  </a>

  <a
    class=' p-4 items-center transition-all hover:text-amber-400'
    href='https://github.com/eloydotco'
    rel='noopener'
    target='_blank'
    aria-label='Github acount link'
  >
    <Icon name='ri:github-line' class='h-8' />
  </a>

  <a
    class=' p-4 items-center transition-all hover:text-amber-400'
    href='https://twitter.com/eloydotco'
    rel='noopener'
    target='_blank'
    aria-label='Twitter account link'
  >
    <Icon name='ri:twitter-line' class='h-8' />
  </a>
</footer>
