---
import { Icon } from "astro-icon";
import ContentSection from "./content-section.astro";

const socialLinks = [
  { name: 'hi@eloy.co', href: 'mailto:hi@eloy.co', icon: 'ri:mail-line', label: 'Email addres link' },
  { name: 'eloy-castelo', href: 'https://linkedin.com/in/eloy-castelo/', icon: 'ri:linkedin-line', label: 'LinkedIn account link' },
  { name: 'eloydotco', href: 'https://github.com/eloydotco', icon: 'ri:github-line', label: 'Github acount link' },
  { name: '@eloydotco', href: 'https://twitter.com/eloydotco', icon: 'ri:twitter-line', label: 'Twitter account link' }
]
---

<ContentSection title="Contact" id="contact">
  <Fragment slot="lead">
    Welcome to <span class="text-primary">my piece</span> of the Internet. This will be my place for
    <span class="text-primary">thoughts</span>,
    <span class="text-primary">reflections</span> &
    <span class="text-primary">everything in between</span>.
    While I build it, you can <span class="text-primary">reach me</span> at:
  </Fragment>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
    {socialLinks.map(({name, href, icon, label}) => (
    <a class="flex items-center justify-center gap-3 p-4 rounded-md border-2 border-current hover:text-amber-400"
      {href} rel="noopener" target="_blank" aria-label={label}>
      <Icon name={icon} class="h-8" />
      {name}
    </a>
    ))}
  </div>
</ContentSection>
