---
import { generateImage } from 'astro-eleventy-img';
import Starfield from './Starfield.astro';

const widths = [450, 800];

const { webp, avif, png } = generateImage('src/assets/eloy-castelo-profile-image.png', {
  widths,
  formats: ['webp', 'avif', 'png'],
  outputDir: 'dist/assets/images/profile',
  urlPath: '/assets/images/profile',
});

const avifSrcset = avif.map(({ srcset }) => srcset).join(',');
const webpSrcset = webp.map(({ srcset }) => srcset).join(',');
const pngSrcset = png.map(({ srcset }) => srcset).join(',');
---

<section class='relative h-screen bg-black'>
  <Starfield />
  <div class='relative h-full grid grid-cols-1 gap-4 content-center place-items-center'>
    <picture class='flex h-[40vh] pb-8'>
      <source type='image/avif' srcset={avifSrcset} />
      <source type='image/webp' srcset={webpSrcset} />
      <source type='image/png' srcset={pngSrcset} />
      <img class='' src={png[0].url} alt='Eloy Castelo profile image' />
    </picture>
    <h2 class='flex text-6xl'>
      <span class='gradient-text'>Hi! I'm Eloy</span>
      <span class='floating'>👋</span>
    </h2>
    <h3 id='apprentice' class='flex text-2xl text-center p-4'>
      <span class='sr-only'>Apprentice of everything and master of nothing</span>
    </h3>
  </div>
</section>

<style is:global>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(25%, 0, 0);
    }
  }

  .floating {
    display: inline-block;
    animation: float linear 1s infinite alternate;
  }

  #apprentice .ti-cursor {
    --ti-cursor-color: var(--color-primary);
    align-self: flex-end;
  }
</style>

<script>
  import TypeIt from 'typeit';

  document.addEventListener('DOMContentLoaded', () => {
    new TypeIt('#apprentice', {
      speed: 99,
    })
      .type('Apprentice of stoicism', { delay: 1000 })
      .delete(8)
      .type('veganism', { delay: 1000 })
      .delete(8)
      .type('minimalism', { delay: 1000 })
      .delete(10)
      .type('engineering', { delay: 1000 })
      .delete(11)
      .type('life', { delay: 500 })
      .break()
      .type('and everything else')
      .go();
  });
</script>
