---
import { Icon } from 'astro-icon';

const navItems = [];
---

<nav class="container-fluid">
  <ul>
    <li class="logo-link">
      <a href="https://eloy.co">
        <Icon name='logo' />
      </a>
    </li>
  </ul>
  <ul>
    {navItems.map(({ title, url }) => (
    <li>
      <a class="secondary" href={url}>
        {title}
      </a>
    </li>
    ))}
  </ul>
</nav>

<style>
  .logo-link a [astro-icon=logo] {
    height: 3.5rem;
    width: 5rem;
    padding: 0 0.5rem;
  }
</style>
