<div
  class="flex w-full flex-col items-center justify-center bg-white-200 py-12"
>
  <img
    class="animate-zoom-in-slow h-40 w-40 rounded-full shadow-2xl shadow-black/40"
    src="/assets/avatar.png"
    alt="Eloy Castelo Otero avatar"
    height="160"
    width="160"
  />

  <div
    class="mt-8 flex max-w-full flex-col items-center px-6 transition-all sm:max-w-2xl sm:px-12 xl:max-w-4xl"
  >
    <h2
      class="animate-slide-in-left text-center text-2xl transition-all sm:text-4xl"
    >
      Hi! I'm Eloy.
    </h2>

    <p
      class="animate-slide-in-left mt-8 text-center text-lg transition-all sm:text-xl"
    >
      Welcome to my piece of the Internet. This is my place for
      <span class="text-orange-300">thoughts</span>,
      <span class="text-orange-300">reflections</span> &
      <span class="text-orange-300">everything in between</span>.
    </p>

    <p
      class="animate-slide-in-left mt-8 text-center text-lg transition-all sm:text-xl"
    >
      TODO: nav to all pages
    </p>
  </div>
</div>
